In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('users.csv')
df.head()

## Structure of dataset

In [15]:
print(df.shape)

(7, 4)

In [16]:
print(df.columns)

Index(['user_id', 'name', 'email', 'password'], dtype='object')

In [17]:
print(df.dtypes)

user_id      int64
name        object
email       object
password    object
dtype: object

### Previewing the dataset

In [18]:
print(df.head())

   user_id      name               email password
0        1    Nitish    nitish@gmail.com    p252h
1        2  Khushboo  khushboo@gmail.com    hxn9b
2        3   Vartika   vartika@gmail.com    9hu7j
3        4     Ankit     ankit@gmail.com    lkko3
4        5      Neha      neha@gmail.com    3i7qm

In [19]:
print(df.tail())

   user_id     name              email password
2        3  Vartika  vartika@gmail.com    9hu7j
3        4    Ankit    ankit@gmail.com    lkko3
4        5     Neha     neha@gmail.com    3i7qm
5        6  Anupama  anupama@gmail.com   46rdw2
6        7  Rishabh  rishabh@gmail.com   4sw123

In [20]:
print(df.sample(4))

   user_id      name               email password
5        6   Anupama   anupama@gmail.com   46rdw2
0        1    Nitish    nitish@gmail.com    p252h
1        2  Khushboo  khushboo@gmail.com    hxn9b
2        3   Vartika   vartika@gmail.com    9hu7j

## Missing value checks

In [21]:
print(df.isnull().sum())

user_id     0
name        0
email       0
password    0
dtype: int64

# Getting summary statistics

In [22]:
print(df.describe())

        user_id
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   7 non-null      int64
 1   name      7 non-null      object
 2   email     7 non-null      object
 3   password  7 non-null      object
dtypes: int64(1), object(3)
memory usage: 356.0+ bytes
None