In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
csk = pd.read_csv('CSK_Players_List.csv')
mi = pd.read_csv('MI_Players_List.csv')
lsg = pd.read_csv('LSG_Players_List.csv')
dc = pd.read_csv('DC_Players_List.csv')
kkr = pd.read_csv('KKR_Players_List.csv')
rr = pd.read_csv('RR_Players_List.csv')
pbks = pd.read_csv('PBKS_Players_List.csv')
rcb = pd.read_csv('RCB_Players_List.csv')
gt = pd.read_csv('GT_Players_List.csv')
srh = pd.read_csv('SRH_Players_List.csv')

In [4]:
csk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sr. No.          20 non-null     int64
 1   Player           20 non-null     object
 2   Base Price       20 non-null     int64
 3   Winning Bid      20 non-null     int64
 4   Capped/Uncapped  20 non-null     object
dtypes: int64(3), object(2)
memory usage: 932.0+ bytes

In [6]:
csk.columns

Index(['Sr. No.', 'Player', 'Base Price', 'Winning Bid', 'Capped/Uncapped'], dtype='object')

In [10]:
csk.sample(5)

    Sr. No.          Player  Base Price  Winning Bid Capped/Uncapped
7         8      Sam Curran    20000000     24000000          Capped
13       14      Vansh Bedi     3000000      5500000        Uncapped
14       15  Andre Siddarth     3000000      3000000        Uncapped
11       12   Jamie Overton    15000000     15000000          Capped
12       13   Vijay Shankar     3000000     12000000        Uncapped

In [11]:
total_money_used = sum(csk['Winning Bid'][0:])

In [13]:
print(f"The total money spent by CSK for buying players in auction is {total_money_used}")

The total money spent by CSK for buying players in auction is 549500000

In [14]:
csk.head(20)

    Sr. No.                Player  Base Price  Winning Bid Capped/Uncapped
0         1            Noor Ahmad    20000000    100000000          Capped
1         2  Ravichandaran Ashwin    20000000     97500000          Capped
2         3          Devon Conway    20000000     62500000          Capped
3         4    Syed Khaleel Ahmed    20000000     48000000          Capped
4         5       Rachin Ravindra    15000000     40000000          Capped
5         6         Anshul Kamboj     3000000     34000000        Uncapped
6         7        Rahul Tripathi     7500000     34000000          Capped
7         8            Sam Curran    20000000     24000000          Capped
8         9      Gurjapneet Singh     3000000     22000000        Uncapped
9        10          Nathan Ellis    12500000     20000000          Capped
10       11          Deepak Hooda     7500000     17000000          Capped
11       12         Jamie Overton    15000000     15000000          Capped
12       13         Vijay Shankar     3000000     12000000        Uncapped
13       14            Vansh Bedi     3000000      5500000        Uncapped
14       15        Andre Siddarth     3000000      3000000        Uncapped
15       16         Shreyas Gopal     3000000      3000000        Uncapped
16       17     Ramakrishna Ghosh     3000000      3000000        Uncapped
17       18     Kamlesh Nagarkoti     3000000      3000000        Uncapped
18       19      Mukesh Choudhary     3000000      3000000        Uncapped
19       20         Shaik Rasheed     3000000      3000000        Uncapped

In [15]:
type_of_player = csk['Capped/Uncapped']
print(type_of_player)

0       Capped
1       Capped
2       Capped
3       Capped
4       Capped
5     Uncapped
6       Capped
7       Capped
8     Uncapped
9       Capped
10      Capped
11      Capped
12    Uncapped
13    Uncapped
14    Uncapped
15    Uncapped
16    Uncapped
17    Uncapped
18    Uncapped
19    Uncapped
Name: Capped/Uncapped, dtype: object